.programs-header {
  display: flex;
  gap: 5rem;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  text-transform: uppercase;
  font-style: italic;
  padding-top: 8rem;
}

.offers-container {
  margin-top: -4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  line-height: 2rem;
}

.offers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.offer {
  display: flex;
  flex-direction: column;
  background-color: #C4C8BB;
  gap: 2rem;
  width: 15rem;
  padding: 1.5rem;
  font-weight: bold;
  cursor: pointer; /* Indicate clickability */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}
.offer>:nth-child(1){
  font-size: 40px;
  padding-top: 2rem;
}
.offer:nth-child(2) {
  background-color: var(--orange) ;
  transform: scale(1.1);
  font-size: 1rem;
  font-weight: bold;
 
}

.offer > :nth-child(2) {
  font-size: 1rem;
  font-weight: 100px;
  
}

.offer > :nth-child(3) {
  font-size: 1.5rem;
  font-weight: bold;
color: var(--blue);
}

.offer > :nth-child(4) {
  font-size: 1rem;
  font-weight: bold;
  color: green;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.offers>:nth-child(2)>button{
    color: var(--blue);
}
@media screen and (max-width: 768px) {
.offers{
  flex-direction: column;
 
}.offer:nth-child(2){
  transform: none;
}

/* Add hover effect for scaling */
.offer:hover {
  transform: scale(1.05);
}
}
