.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
  background-color: #f8f8f8; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo {
  width: 4rem;
  height: 4rem;
}

.boxLogo {
  display: flex;
  flex-direction: column;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  justify-content: center; /* Center the menu items horizontally */
  flex: 1; /* Allow the menu to take available space */
}
.header-menu li {
  font-size: 1.2rem;
  font-weight: bold;
}
.header-menu li a {
  text-decoration: none; 
  color: #000; 
  font-weight: bold; 
}

.header-menu li:hover {
  color: var(--orange);
  cursor: pointer;
}

.right-h {
  flex-grow: 0;
  /* padding-bottom: 1rem; */
}

.right-h .btn {
  color: var(--blue);
  ;
}

body {
  padding-top: 80px; 
}
