.footer {
    /* background-color: #333; */
    color: black;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 100px;
    gap: 10rem;
    border-top: 1px solid #444;
  }
  
  .footer-section {
    flex: 1;
    padding: 10px;
  }
  
  .footer-section h2 {
    margin-bottom: 15px;
  }
  
  .footer-section p,
  .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: black;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .socials {
    margin-top: 10px;
  }
  
  .socials a {
    color: black;
    margin-right: 10px;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .socials a:hover {
    color: blue; /* Change color on hover */
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #444;
  }
  